/* fonst weights */
ol {
	font-weight: 400;
}
p {
	font-weight: 500;
}
.btn {
	font-weight: 600 !important;
}

/* card images */
.card_img_holder {
	height: 300px;
	margin: 25px;
}
.card-img-top {
	height: 80%;
}
/* Remove box baground form close button */
#close_btn {
	background-color: transparent;
	border: 0px;
}
/* close button on the corner for no good reason*/
#close {
	position: absolute;
	top: -20px;
	right: -20px;
}
/* I need a MOTA modal */
.modal {
	--bs-modal-width: 70% !important;
}

.modal_col_1 {
	border: 1px solid #eb5757;
	background-color: #eb57570d;
}
.per_month_box {
	height: 100px;
	width: 132px;
	border-radius: 16px;
}
.per_month_box p {
	font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	height: 100%;
}

.head-text {
	font-size: 25px;
	font-weight: 600;
	line-height: 35px;
}
.body-text {
	font-size: 16px;
	font-weight: 400;
}
