/* fonst weights */
.card-title {
	font-weight: 600;
}
ol {
	font-weight: 400;
}
p {
	font-weight: 500;
}

/* card images */
.card_img_holder {
	height: 300px;
	margin: 25px;
}
.card-img-top {
	height: 80%;
}
